.about-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.about-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--color-dark);
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  .about-container{
    width: 80%;
    margin-top: 80px;
  }

}
